version: '3.9'

services:
  caddy:
    image: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      SERVER_DOMAIN: ${SERVER_DOMAIN}
      CLIENT_ID: ${CLIENT_ID}
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/static:/static:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - pictshare
    # Default caddy command borrowed from https://github.com/caddyserver/caddy-docker/blob/master/Dockerfile.tmpl
    command: ["caddy", "run", "--config", "/etc/caddy/Caddyfile", "--adapter", "caddyfile", "--watch"]

  pictshare:
    build:
      context: pictshare
    restart: unless-stopped
    environment:
      HASH_DIMS_AES_KEY: ${HASH_DIMS_AES_KEY}
      CONTENTCONTROLLERS: "IMAGE,VIDEO"
      MAX_UPLOAD_SIZE: ${MAX_UPLOAD_SIZE:-50}
      S3_BUCKET: ${S3_BUCKET}
      S3_REGION: ${S3_REGION}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      COUB_PROXY_URL: ${COUB_PROXY_URL:-}
    volumes:
      - pictshare_data:/var/www/data

  cleanup:
    build:
      context: cleanup-service
    restart: unless-stopped
    environment:
      REQUIRED_SPACE: ${REQUIRED_SPACE:-10}
    volumes:
      - pictshare_data:/var/lib/orbitar_media_data

volumes:
  caddy_data:
  caddy_config:
  pictshare_data:
    driver: local
    driver_opts:
        type: none
        o: bind
        device: ${DATA_DIR}
